
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Satisfy", cursive;
}
.main-div
{
    width: 60%;
    min-height: 400px;
    margin: auto;
    border: 2px solid lightseagreen;
}
.main-header
{
    width:100%;
    height: 60px;
    background-color:#211F19;
}
.main-header .logo
{
    width:8%;
    height:60px;
    float:left;
    
}
.logo img
{
    width:100%;
    height:60px;
}
.main-header .name
{
    width:15%;
    height:60px;
    float: left;
    margin-top:10px;

}
.name h3{
    color: white;

}
.main-header .menu
{
    width:62%;
    height:60px;
    float: left;
    margin-top:10px;

}
.menu a{
    color:white;
    padding: 5px;
    text-decoration: none;
    font-size: 10px;
}
.main-header .login
{
    width:12%;
    height:60px;
    float: right;
    margin-top:10px;

}
.login a{
    color:white;
    margin-right: 10px;
    text-decoration: none;
}
.header
{
    width: 100%;
    height: 400px;
}